#map {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 800px;
    width: 800;
    z-index: -1;
    background-image: url('https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/-122.437951,37.759917,10.52/800x800?access_token=pk.eyJ1IjoicHJvc2UwMDIxIiwiYSI6ImNrMzZoYWdidTAxcm8zaW82MW5jZmV6c2EifQ.PRbSpg500wqcoctnYFTIog');
    background-repeat: no-repeat;
    background-size: contain;

}

#map canvas {
    width: 300px;
    z-index: -1;
}

#info {
    margin: auto;
    margin-top: 0;
}

#info h2 {
    text-align: center;
}

#info h3 {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.weatherinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

body {
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    
}

.currentWeather {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    /* width: 30vw;
    height: 20vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info-container {
    padding: 10px
}

#descrip {
    text-align: center;
}

#links a img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#git, #linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
#git, #linkedin p {
    margin: 0;
    color: blue
}